import UIKit
import SwiftyJSON
import BXModel
import BXiOSUtils
import Kingfisher
import BXForm
import GameNetClient
{% set m = model %}

{% for comment in comments %}
    {{ comment }}
{% endfor %}

final class {{ model.class_name }} : {{ model.superclass }} {% if model.has_adapter %}, ListViewControllerProtocol {% endif %} {

{% for field in fields %}
    {{ field.declare_stmt }}
{% endfor %}
{% if not model.no_init %}
{% if model.is_tvc %}
    init(){
    super.init(style:.plain)
    }

    override init(style: UITableViewStyle){
    super.init(style:style)
    }
{% else %}
    convenience init(){
    self.init(nibName: nil, bundle: nil)
    }
{% endif %}
{% endif %}

{% if model.init_views %}
{% include 'ios/view/uicommon_init.html' %}
{% endif %}

override func loadView(){
    super.loadView()
    self.view.backgroundColor = .background
    {% if model.init_views %}
    commonInit()
    {% endif %}

    {%  if model.is_tvc %}
        clearsSelectionOnViewWillAppear = true
        tableView.keyboardDismissMode = .onDrag
        tableView.tableFooterView = UIView()
        tableView.rowHeight = 60 // UITableViewAutomaticDimension
        tableView.estimatedRowHeight = 60
        tableView.separatorStyle = .singleLine
        tableView.separatorColor = .seperatorLine
    {%  endif %}
}

{%  if model.has_adapter %}
    typealias ModelType = {{ m.ui_model_name }}
    {% if model.adapter_type == 'c' %}
        let adapter = SimpleCollectionViewAdapter<{{ m.ui_cell_name }}>()
    {% else %}
        let adapter = SimpleTableViewAdapter<{{ m.ui_cell_name }}>()
    {% endif %}
    var modelAdapter: SimpleGenericDataSource<{{ m.ui_model_name }}>{
    return adapter
    }
{%  endif %}


{% if model.has_static_adapter %}
    let staticAdapter = SimpleStaticTableViewAdapter()
{% endif %}

{% if m.has_primary_action %}
    var actionCell : PrimaryButtonCell = {
    let cell = PrimaryButtonCell()
    cell.setPrimaryActionTitle("确定")
    cell.primaryButton.setupAsPrimaryActionButton()
    cell.buttonHorizontalInset = 15
    cell.buttonMarginTop = 10
    return cell
    }()
{% endif %}

override func viewDidLoad() {
    super.viewDidLoad()
    title = ""
    navigationItem.title = title
{% if model.has_adapter %}
    {% if  model.adapter_type == 'c' %}
        adapter.bind(to:collectionView)
    {% else %}
        adapter.bind(to:tableView)
    {% endif %}
{% endif %}

{% if model.has_static_adapter %}
    // staticAdapter.append()
    // staticAdapter.appendItems([])
    staticAdapter.bind(to: tableView)
    staticAdapter.didSelectCell = { [weak self] cell, index in
        self?.onTap(cell: cell)
    }
{% endif %}

{% if model.is_tvc %}
    {% if model.has_search_ui %}
        tableView.tableHeaderView = searchBar
        searchBar.delegate = self
    {% endif %}
{% endif %}
    //adapter.preBindCellBlock = { [weak self] (cell,_,_) in
        //cell.delegate = self
    //}
    //adapter.didSelectedItem = { [weak self] item,index in
    //}
{% if model.has_req %}
    loadData(type:.loading)
{% endif %}
{% if model.has_refresh %}
    enableRefreshHeaderView()
{% endif %}
{% if model.has_page %}
    enableLoadMoreFooterView()
{% endif %}

{% if model.has_right_button %}
let rightBarButton = UIBarButtonItem(title: i18n("{{model.right_button_title}}"), style: .plain, target: self,
                            action: #selector(onRightBarButtonPressed))
navigationItem.rightBarButtonItems = [rightBarButton]
{% endif %}
}

{% if model.has_right_button %}
    @objc func onRightBarButtonPressed(){
    }
{% endif %}

{% if model.has_static_adapter %}
    func onTap(cell:UITableViewCell){
        switch cell{
            default:break
        }
    }
{% endif %}

{% if model.has_tab %}
    var tabType:{{ model.ui_tab_type_name }}!
{% endif %}

{% if model.has_detail %}
    func show{{ model.ui_model_name }}Detail(item:{{ model.ui_model_name }}){
    let vc = {{ model.ui_detail_vc_name }}()
    vc.{{ model.ui_camel_mname }} = item
    show(vc,sender:self)
    }
{% endif %}

{% if model.has_search %}
{% endif %}
{% if model.has_refresh %}
    func onRefresh(){
        self.refreshData()
    }
{% endif %}

{% if model.has_page %}
    override func onLoadMore() {
        self.loadMoreData()
    }
{% endif %}

{% if model.has_req %}
    // MARK: Load Data
    func loadData(type:LoadingType){
        onLoading(type: type)
        let req = PacketName(userId: Login.current.uid, clubId: clubId)
        GameService.ReqName(req) { (reqResult) in
            switch reqResult{
            case .error(let error):
                self.handleLoadError(error.userReadableDescription)
            case .success(let ack):
                let unions = {{ model.ui_model_name }}.arrayFrom(JSON.parse(ack.data))
                self.handleLoadedItems(unions)
            }
        }
    }
{% endif %}

{% if model.has_search_ui %}
    // MARK:Search Support
    lazy var searchBar:UISearchBar = {
        let bar = UISearchBar() //
        bar.setupAppDefaultStyle()
        bar.placeholder = i18n("搜索")
        bar.sizeToFit()
        return bar
    }()
{% endif %}

{% include 'ios/controller/handle_keyboardEvents.html' %}


}

{%  if model.has_search_ui %}
extension {{ model.class_name }}:UISearchBarDelegate{
    func searchBarSearchButtonClicked(_ searchBar: UISearchBar) {
        if let text = searchBar.text, !text.isEmpty{
            searchData(keyword: text)
        }
    }

    func searchBarTextDidBeginEditing(_ searchBar: UISearchBar) {
        searchBar.showsCancelButton = true
    }

    func searchBarTextDidEndEditing(_ searchBar: UISearchBar) {
        searchBar.showsCancelButton = false
    }

    func searchBarCancelButtonClicked(_ searchBar: UISearchBar) {
        searchBar.resignFirstResponder()
        searchBar.text = ""
        self.refreshData()
    }
}
{% endif %}

{% if m.has_remove %}

    extension {{ m.class_name }} {
    // MARK: Actions
    func remove{{ m.ui_model_name }}(item:{{ m.ui_model_name }}){
    guard let index = adapter.indexOfItem(item) else{
    return
    }
    adapter.removeAtIndex(index)
    let indexPath = NSIndexPath(forRow: index, inSection: 0)
    tableView.deleteRowsAtIndexPaths([indexPath], withRowAnimation: .Fade)

    // var eventName:String?
    //    NSNotificationCenter.defaultCenter().postNotificationName(dataSetChangedEvent, object: nil)
    }
    }
{% endif %}

{% if model.has_tab %}
    import UIKit
    import BXViewPager

    class {{ model.ui_tab_vc_name }}:BXViewPagerViewController{

    override func viewDidLoad() {
    super.viewDidLoad()
    //title = i18n("")
    navigationItem.title = title
    showIndicator = true

    var vcs:[UIViewController] = []
    for type in {{ model.ui_tab_type_name }}.allCases{
    let vc = {{ model.class_name }}()
    vc.tabType = type
    vc.title = type.title
    vcs.append(vc)
    }

    setViewControllers(vcs, animated: true)

    }
    {% if model.has_search %}
        func searchByText(text:String){
        if let vc = currentPageViewController as? {{ model.class_name }}{
        vc.searchByText(text)
        }
        }
    {% endif %}
    }
{% endif %}

{% if model.has_detail %}
    // Stub for detail
    // {{ model.ui_detail_vc_name }}
    // var {{ model.ui_camel_mname }}:{{ model.ui_model_name }}!
{% endif %}
