import UIKit
import SwiftyJSON
import BXModel
import BXiOSUtils
import Kingfisher
import BXForm
{% set m = model %}
{% if m.ui_has_page %}
    import BXLoadMoreControl
{% endif %}

{% for comment in comments %}
    {{ comment }}
{% endfor %}

class {{ model.class_name }} : {{ model.superclass }} {

{% for field in fields %}
    {{ field.declare_stmt }}
{% endfor %}
{% if model.is_tvc %}
    init(){
    super.init(style:.plain)
    }

    override init(style: UITableViewStyle){
    super.init(style:style)
    }
{% else %}
    convenience init(){
    self.init(nibName: nil, bundle: nil)
    }
{% endif %}
// must needed for iOS 8
override init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: Bundle?) {
super.init(nibName: nibNameOrNil, bundle: nibBundleOrNil)
}
{% include 'ios/view/uicommon_init.html' %}

override func loadView(){
super.loadView()
self.view.backgroundColor = .background
commonInit()
}

{{ model.adapter_decl }}

{% if model.has_sadapter %}
    let staticAdapter = StaticTableViewAdapter()
{% endif %}

{% if m.has_primary_action %}
    lazy var actionCell : PrimaryButtonCell = { [unowned self] in
    let cell = PrimaryButtonCell()
    cell.setPrimaryActionTitle("确定")
    cell.primaryButton.setupAsPrimaryActionButton()
    cell.buttonHorizontalInset = 15
    cell.buttonMarginTop = 10
    return cell
    }()
{% endif %}

override func viewDidLoad() {
super.viewDidLoad()
title = ""
navigationItem.title = title
{{ model.adapter_init }}

{% if model.has_sadapter %}
    // staticAdapter.append()
    // staticAdapter.appendContentsOf([])
    staticAdapter.bindTo(tableView)
    staticAdapter.didSelectCell = { cell, index in
    self.onTap(cell: cell)
    }
{% endif %}

{% if model.is_tvc %}
    clearsSelectionOnViewWillAppear = true
    tableView.keyboardDismissMode = .onDrag
    tableView.tableFooterView = UIView()
    tableView.rowHeight = UITableViewAutomaticDimension
    tableView.estimatedRowHeight = 120
    tableView.separatorStyle = .none
    tableView.separatorColor = .seperatorLine
{% endif %}
{% if model.has_detail %}
    adapter.didSelectedItem = {
    item,index in
    self.show{{ model.ui_model_name }}Detail(item)
    }
{% endif %}
{% if model.has_req %}
    loadData()
{% endif %}
{% if model.has_refresh %}
    refreshControl = UIRefreshControl(frame: CGRect.zero)
    refreshControl?.addTarget(self, action: #selector(refresh), for: .valueChanged)
{% endif %}
{% if model.has_page %}
    bx_loadMoreControl = loadMoreControl
    loadMoreControl.onLoadingHandler = {
    self.loadMore()
    }
{% endif %}

}

{% if model.has_sadapter %}
    func onTap(cell:UITableViewCell){
    switch cell{
    default:break
    }
    }
{% endif %}

{% if model.has_tab %}
    var tabType:{{ model.ui_tab_type_name }}!
{% endif %}

{% if model.has_detail %}
    func show{{ model.ui_model_name }}Detail(item:{{ model.ui_model_name }}){
    let vc = {{ model.ui_detail_vc_name }}()
    vc.{{ model.ui_camel_mname }} = item
    showViewController(vc,sender:self)
    }
{% endif %}

{% if model.has_page %}
    var page = 1
    var hasMore = true
    var isLoadingMore = false

    lazy var loadMoreControl = BXLoadMoreControl()
    func loadMore(){
    if !hasMore{
    loadMoreControl.endLoading()
    loadMoreControl.nomore()
    }
    {% if model.has_search %} search = ""  {% endif %}
    page = page + 1
    isLoadingMore = true
    loadData()
    }

{% endif %}

{% if model.has_search %}
    private var search:String = ""
    func searchByText(text:String){
    search = text.trimmed()
    if search.isEmpty{
    HUD.showErrorTip("搜索词不能为空")
    return
    }
    adapter.updateItems([])
    page = 1
    loadData()
    }
{% endif %}
{% if model.has_refresh %}
    var refreshing = false
    func refresh(){
    refreshing = true
    refreshControl?.beginRefreshing()
    reloadData()
    }

    func reloadData(){
    {% if m.has_search %} search = "" {% endif %}
    page = 1
    adapter.updateItems([])
    loadData()
    }
{% endif %}
{% if model.has_req %}
    // MARK: Load Data
    func loadData(){
    let params:Params = [:]
    ApiService.listBy(params){ resp in
    self.handle(resp: resp)
    }
    }

    // MARK: Handle Response
    func handle(resp:ApiResponse){
    {% if model.has_refresh %}
        if refreshing{
        refreshing = false
        refreshControl?.endRefreshing()
        }
    {% endif %}
    if resp.ok{
    self.handleLoadedData(resp)
    }else{
    {% if model.has_page %}
        if isLoadingMore{
        page = page - 1 // rollback
        }
    {% endif %}
    }
    {% if model.ui_has_page %}
        if isLoadingMore{
        loadMoreControl.endLoading()
        }
        if hasMore{
        loadMoreControl.reset()
        }else{
        loadMoreControl.nomore(adapter.numberOfItems > pageSize)
        }
        isLoadingMore = false
    {% endif %}
    }
    // MARK: Handle Loaded Data
    func handleLoadedData(resp:ApiResponse){
    {% if model.has_adapter %}
        let data = resp.data
        let items = {{ model.ui_model_name }}.arrayFrom(data)
        {% if model.has_page %}
            if isLoadingMore{
            adapter.appendItems(items)
            }else{
            adapter.updateItems(items)
            }
            hasMore = items.count >= pageSize
        {% else %}
            adapter.updateItems(items)
        {% endif %}

        {% if model.has_search %}
            if search.isNotEmpty{
            if items.isEmpty{
            HUD.showErrorTip(" 搜索结果为空")
            }
            }
        {% endif %}
    {% endif %}
    }
{% endif %}


{% include 'ios/controller/handle_keyboardEvents.html' %}


}

{% if m.has_remove %}

    extension {{ m.class_name }} {
    // MARK: Actions
    func remove{{ m.ui_model_name }}(item:{{ m.ui_model_name }}){
    guard let index = adapter.indexOfItem(item) else{
    return
    }
    adapter.removeAtIndex(index)
    let indexPath = NSIndexPath(forRow: index, inSection: 0)
    tableView.deleteRowsAtIndexPaths([indexPath], withRowAnimation: .Fade)

    // var eventName:String?
    //    NSNotificationCenter.defaultCenter().postNotificationName(dataSetChangedEvent, object: nil)
    }
    }
{% endif %}

{% if model.has_tab %}
    import UIKit
    import BXViewPager

    class {{ model.ui_tab_vc_name }}:BXViewPagerViewController{

    override func viewDidLoad() {
    super.viewDidLoad()
    title = ""
    navigationItem.title = title
    showIndicator = true

    var vcs:[UIViewController] = []
    for type in {{ model.ui_tab_type_name }}.allCases{
    let vc = {{ model.class_name }}()
    vc.tabType = type
    vc.title = type.title
    vcs.append(vc)
    }

    setViewControllers(vcs, animated: true)

    }
    {% if model.has_search %}
        func searchByText(text:String){
        if let vc = currentPageViewController as? {{ model.class_name }}{
        vc.searchByText(text)
        }
        }
    {% endif %}
    }
{% endif %}

{% if model.has_detail %}
    // Stub for detail
    // {{ model.ui_detail_vc_name }}
    // var {{ model.ui_camel_mname }}:{{ model.ui_model_name }}!
{% endif %}
