{% for comment in comments %}
    {{ comment }}
{% endfor %}

{% if not model.is_fragment %}
struct {{ model.class_name }} {
struct Keys{
{% endif %}
{% for field in fields %}
    static let {{ field.settings_name }} = "{{ field.settings_key }}"
{% endfor %}
{% if not model.is_fragment %}
}
    static let  userDefaults = UserDefaults.standard
{% endif %}


{% for field in fields %}
    static var {{ field.name }}:{{ field.settings_type_annotation }}{
    set{
    {{ field.settings_set_stmt }}
    {% if model.settings_sync_on_save %}
        userDefaults.synchronize()
    {% endif %}
    }get{
    {{ field.settings_get_stmt }}
    }
    }
{% endfor %}

{% if not model.is_fragment %}
static func registerDefaults(){
let defaults : [String:Any] = [
{% for field in fields %}
    {% if field.settings_default_value != 'nil' %}
    Keys.{{ field.settings_name }}:{{ field.settings_default_value }},
    {% endif %}
{% endfor %}
]
userDefaults.register(defaults: defaults)
}

}
{% else %}
{% for field in fields %}
    Keys.{{ field.settings_name }}:{{ field.settings_default_value }},
{% endfor %}
{% endif %}

