{% for comment in comments %}
{{ comment }}
{% endfor %}
enum {{ model.class_name }} {% if model.raw_type %}:{{ model.raw_type }}{% endif %} {
{% if model.raw_type %}
    {%  for field in fields %}
        {% if model.mtype == 's' %}
        case {{ field.field_name }} =  "{{ field.name  }}"
        {% elif model.mtype == 'i' %}
        case {{ field.field_name }} =  {{model.start_value + loop.index0}}
        {% else %}
        case {{ field.field_name }}
        {% endif %}
 {% endfor %}
{% else %}
    {% if model.is_simple %}
        case {{ fields|map(attribute='field_name')|join(', ') }}
    {% else %}
        {% for field in fields %}
            case {{ field.field_name }}
        {% endfor %}
    {% endif %}
{% endif %}
{% if not model.is_simple %}
{% for field in fields %}
    var is{{ field.camel_name }}:Bool{ return self == .{{ field.field_name }} }
{% endfor %}
{% endif %}

    var title:String{
        switch self{
        {% for field in fields %}
        case .{{field.field_name}}:return "{{field.enum_title}}"
        {% endfor %}
        }
    }

    static let all:[{{ model.class_name }}] = [{% for field in fields %}.{{field.field_name}}{% if not loop.last  %},{% endif %} {% endfor %}]
}

{% if model.has_icon %}
extension  {{model.class_name}} {
    var icon:UIImage{
        switch self{
        {% for field in fields %}
            case .{{field.field_name}}:return Images..image
        {% endfor %}
        }
    }
}
{% endif %}
