{% for comment in comments %}
{{ comment }}
{% endfor %}
{% if model %}
enum {{model.name}}:URLRequestConvertible{
{%  for router in routers %}
    {{ router.case_stmt }}
{% endfor %}

    var path:String{
        switch self{
        {%  for router in routers %}
            {{ router.path_stmt }}
        {% endfor %}
        }
    }

    var params:[String:AnyObject]?{
        switch self{
            {%  for router in routers %}
            {{ router.params_stmt }}
            {% endfor %}
            default: return nil
        }
    }

    var method:Alamofire.Method{
        {% if post_routers|count > 0 %}
        switch self{
        case {{ post_routers|map(attribute='dot_name')|join(',') }}:
            return .POST
        default:
            return .GET
        }
        {% else %}
        return .GET
        {% endif %}
    }
    var isPublic:Bool{
        {% if public_routers|count > 0 %}
        switch self{
        case {{ public_routers|map(attribute='dot_name')|join(',') }}:
            return true
        default:return false
        }
        {% else %}
        return false
        {% endif %}
    }

    var URLRequest: NSMutableURLRequest {
        let  mutableURLRequest =  createURLRequest(method, fullURL, headers: ["User-Agent":userAgent])
        return Alamofire.ParameterEncoding.URL.encode(mutableURLRequest, parameters: params).0
    }

    var fullURL:NSURL{
        let URL = NSURL(string:API_BASE_URL)!
        return URL.URLByAppendingPathComponent(path)
    }
}
{% else %}
{# no model #}
// Case list
{%  for router in routers %}
{{ router.case_stmt }}
{% endfor %}
// Path List
{%  for router in routers %}
{{ router.path_stmt }}
{% endfor %}
// Params List
{%  for router in routers %}
{{ router.params_stmt }}
{% endfor %}
{% endif %}
