{% include 'outlets_group.html' %}
    required init?(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)
    }

    func commonInit(){
        for childView in allOutlets{
        {% if 'Cell' in model.superclass %}
            contentView.addSubview(childView)
        {% else %}
            {% if model.is_vc %}
            self.view.addSubview(childView)
            {% else %}
            addSubview(childView)
            {% endif %}
        {% endif %}
            childView.translatesAutoresizingMaskIntoConstraints = false
        }
        installConstaints()
        setupAttrs()
        {{ model.adapter_init }}
    }

    func installConstaints(){
        {% for field in uifields %}
        {{ field.constraints_stmt }}
        {% endfor %}
    }

    func setupAttrs(){
        {% for field in uifields %}
        {{ field.attrs_stmt }}
        {% endfor %}
    }